@mixin width {
  width: 80%;
  margin:100px auto;
}
@mixin display-flex {
  display: flex;
  align-items: center;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
img {
  max-width: 100%;
}

a:hover {
  color:$text_color_blue;
  cursor: pointer;
}
li:hover {
  color:$text_color_blue;
  cursor: pointer;
}
