footer {
  display: flex;
  @include width;
  .footer_logo {
    span{
      color:$text_color_blue;
    }
  }
  .footer_link{
    display: flex;
    ul{
      margin:0 20px;
      h1{
        font-size: 20px;
      }
      li{
        list-style: none;
        margin:10px 0;
        font-size: 14px;
        line-height: 30px;
        li:hover {
          color:$text_color_blue;
          cursor: pointer;
        }
      }
      a{
        text-decoration: none;
        color:$text_color;
        &:hover {
          color:$text_color_blue;
          cursor: pointer;
        }
      }
    }
  }
  .chatbox {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background: $background;
    border-radius: 50%;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50% , -50%);
      font-size: 30px;
      color: #fff;
    }
  }
}
