footer {
  display: flex;
  @include width;
  .footer_logo {
    span{
      color:$text_color_blue;
    }
  }
  .footer_link{
    display: flex;
    ul{
      margin:0 20px;
      li{
        list-style: none;
        margin:10px 0;
        font-size: 15px;
      }
      a{
        text-decoration: none;
        color:$text_color;
      }
    }
  }
}
