nav {
  @include width;
  @include display-flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid $border_color;
  color:$text_color;
  .logo {
    @include display-flex;
    span {
      margin-left: 20px;
      font-size: 20px;
    }
  }
  div {
    width: 100%;
  }
  .sign_in_button {
    @include display-flex;
    max-width: 100px;
    border: 1px solid $border_color;
    border-radius: 10px;
    padding: 5px 0 5px 10px;
    .google {
      margin: 5px 10px 5px 0;
      width: 15%;
    }
    span {
      width: 85%;
    }
  }
  ul  {
    @include display-flex;
    justify-content: space-around;
    li {
      list-style: none;
      display: flex;
    }
  }
}
