nav {
  @include width;
  @include display-flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid $border_color;
  color:$text_color;
  .logo {
    @include display-flex;
    span {
      margin-left: 20px;
      font-size: 20px;
    }
  }
  div {
    width: 100%;
  }
  .sign_in_button {
    @include display-flex;
    max-width: 100px;
    border: 1px solid $border_color;
    border-radius: 10px;
    padding: 5px 0 5px 10px;
    .google {
      margin: 5px 10px 5px 0;
      width: 15%;
    }
    span {
      width: 85%;
    }
  }
  ul  {
    @include display-flex;
    justify-content: space-around;
    position: relative;
    .dropdown {
      position: absolute;
      width: 120px;
      height: 160px;
      left: 10px;
      top: 0px;
      .dropdown_menu {
        display: none;
        position: absolute;
        top: 35px;
        background: #fff;
        height: 140px;
        border-radius: 10px;
        text-align: left;
        line-height: 35px;
        font-size: 15px;
        border: 1px solid #040F0F;
        width: 100px;
        padding-left: 10px;
        left: 10px;
        a {
          text-decoration: none;
          color:$text_color;
          &:hover {
            color:$text_color_blue;
          }
        }
      }
      &:hover .dropdown_menu{
        display: block;
      }
    }
    li {
      list-style: none;
      display: flex;
    }
  }
}
