.section_2 {
  background:$background;
  text-align: center;
  padding: 10px 0 ;
  color:$text_color;
  #border {
    border-bottom:1px solid $border_color;
  }
  .container{
    @include width;
  }
  .section_2_title {
    width: 50%;
    margin:0 auto 70px auto;
  }
    .section_2_img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin:0 auto;
    }
    .section_2_img div {
      max-width: 200px;
      margin: 0 auto;
    }
    .section_2_img p {
      margin-top:20px;
      line-height: 30px;
    }
    .section_2_bottom {
      width: 20%;
      margin:100px auto;
    }
}
